@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital@1&family=Roboto:ital,wght@1,300&display=swap");
/*Por si quiero algun dia cambiar algun texto o parrafo 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  cursor: none;
  box-sizing: border-box;
}

body {
  padding: 15px;
  margin: 0px;
  background: linear-gradient(#333333, #121212);
  background-attachment: fixed;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: none;
}

/*Boton de ir Arriba*/
#direccion {
  width: 50px;
  height: 50px;
  background: blue;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transform: translateY(200%);
  border-radius: 50px;
  transition: all 0.5s;
}

#direccion.show {
  transform: translateY(0);
}

#direccion.scrollFinal {
  transform: translateY(-250%);
}

#direccion span {
  color: aqua;
  font-size: 25px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s;
  border-radius: 50px;
}

#direccion:hover {
  background: aqua;
  border-radius: 50px;
}

#direccion:hover span {
  transform: translateY(-3px);
  color: blue;
  border-radius: 50px;
}

#cpy {
  font-size: 40px;
  padding: 0px 0px;
}
/*Titulo*/

#titulo {
  margin: 0 auto;
}

h1 {
  margin: 0px -14px 20px -14px;
  width: auto;
  height: auto;
  padding: 15px 50px;
  color: #68829e;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to bottom right, #ffdef2, #e6f0ff);
  background-position: center;
  background-size: cover;
  letter-spacing: -0.01em;
}
.texto {
  color: #979dac;
  display: block;
  line-height: 1.1;
  position: relative;
  font-weight: bold;
  font-size: 40px;
  font-family: system-ui;
}
.texto::before {
  animation-name: var(--animation, a);
  font-weight: bold;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to bottom right,
    var(--start-color),
    var(--end-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #979dac;
  font-size: 40px;
  font-family: system-ui;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes a {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
/*Información*/
#info {
  background: linear-gradient(to bottom right, #a8dadc, #457b9d);
  width: auto;
  height: auto;
  position: center;
  margin: 50px -15px;
  padding: 10% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
  align-content: space-between;
}
#contain {
  padding: 0% 12%;
}
.lista {
  font-size: 14px;
  width: 50%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  background: linear-gradient(#5700a3, #a270ff);
  background-position: left 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.5s;
}
.lista:hover {
  background-size: 50% 2px;
  color: var(#011627);
  background-color: #cccaff;
  width: 50%;
}
picture {
  display: inline-block;
  background: linear-gradient(#eaecc6, #2bc0e4);
}
/*  
  background: linear-gradient(#43c6ac, #191654);
background: linear-gradient(#ea52f8, #0066ff);*/
picture #fotoA {
  mix-blend-mode: multiply;
  filter: saturate(100%);
  max-width: 450px;
}
#c-1 {
  line-height: 45px;
  letter-spacing: 1px;
  padding: 0px 10px;
}
#c-2 {
  padding: 0px 10px;
}
#apodo {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 0px 16px;
}
#apodo-sp {
  color: #3524a8;
  display: block;
  font-size: 80px;
  position: relative;
}
#apodo-sp::before {
  animation-name: var(--animation, a);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right bottom,
    var(--start-color),
    var(--end-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #21b9d4;
  font-size: 80px;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}
@keyframes b {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}
.texto1 {
  font-size: 40px;
  color: #4a35d4;
  font-family: system-ui;
  font-weight: 900;
  display: block;
  position: relative;
}
.texto1::before {
  animation-name: var(--animation, b);
  animation-duration: 6s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4a35d4;
  font-size: 40px;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}
.texto2 {
  font-size: 22px;
  font-weight: 600;
  color: #4a35d4;
}

/*Experiencia Laboral*/
#experiencia-laboral {
  margin: 30px -15px;
  padding: 35px;
  width: auto;
  height: 920px;
  background: url(../imagenes/fondo39.jpg);
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#vd-lb {
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  margin: 0 -40px;
  padding: 0px 0px;
  width: auto;
  text-align: center;
  font-size: 35px;
  font-family: system-ui;
  position: relative;
}

#vd-lb::before {
  animation-name: var(--animation, c);
  font-weight: bold;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to bottom right,
    var(--start-color),
    var(--end-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #68829e;
  font-size: 35px;
  font-family: system-ui;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes c {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

#cuadro {
  height: 430px;
  width: 400px;
  margin-left: 60px;
  background-image: url(../imagenes/milogo.PNG);
  border-top: 3px groove blue;
  border-left: 3px groove yellow;
  border-bottom: 3px groove red;
  border-right: 3px groove green;
}
/*Acceso a la plantilla*/
#enlace {
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 80px;
  transition: all 2s;
}

#enlace:hover {
  background-color: rgb(143, 143, 143);
  color: black;
  padding: 5px 20px 5px 20px;
  transition: all 2s;
}

#plantilla {
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 10px 20px;
  border-radius: 80px;
  transition: all 2s;
  margin-left: 160px;
  font-family: system-ui;
  font-weight: 700;
}

#plantilla:hover {
  background-color: rgb(143, 143, 143);
  color: black;
  padding: 5px 20px 5px 20px;
  transition: all 2s;
  font-family: system-ui;
  font-weight: 700;
}

#mano {
  font-size: 60px;
}

#seleccion {
  margin-left: 230px;
  font-size: 50px;
  color: rgb(83, 83, 83);
  transition: all 1s;
  animation-duration: 5s;
}

#seleccion:hover {
  margin-top: 5px;
  margin-left: 230px;
  font-size: 50px;
  color: white;
  transition: all 1s;
  transform: translateY(5px);
}

/*Proyectos*/
#contenido {
  padding: 2% 4%;
  margin-right: 60px;
  margin-left: auto;
  width: 377px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.747);
  border: 1px solid grey;
  border-radius: 40px;
  transform: translate(10px, -590px);
}

#projects {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 5px 25px;
}

.juegos {
  font-size: 20px;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  transition: all 1s;
}

.juegos:hover {
  font-size: 20px;
  background-color: rgb(116, 116, 116);
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  transition: all 1s;
  transform: translateY(5px);
}

a.juegos {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  transition: all 1s;
  text-align: center;
}

a:hover.juegos {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  transition: all 1s;
  text-align: center;
}

/*Seccion dibujos*/
#misdibujos {
  text-align: center;
  transform: translate(380px, 54px);
  width: 500px;
  border-radius: 100px;
  font-size: 40px;
  font-family: system-ui;
}

#misdibujos::before {
  animation-name: var(--animation, d);
  font-weight: bold;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #68829e;
  font-size: 40px;
  font-family: system-ui;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes d {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

#edicion {
  width: 300px;
  height: 300px;
  text-align: left;
  margin-right: 300px;
  transform: translateY(-30px);
  transition: all 1s;
  float: left;
}

.descripcion-dibujos {
  width: 30%;
  margin-right: 400px;
  float: right;
}

#descripcion {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 270px;
  transition: all 1s;
}

#descripcion:hover {
  color: blue;
  padding: 10px;
  width: 270px;
  background-color: aqua;
  transform: translateY(5px);
}

#titulo-imagen {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 240px;
  transition: all 1s;
}

#titulo-imagen:hover {
  color: blue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: aqua;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 240px;
  transition: all 1s;
}

.letra {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  text-align: left;
  margin: 10px;
  width: 140px;
  transition: all 1s;
}

.letra:hover {
  color: blue;
  background-color: aqua;
  padding: 10px;
  font-size: 20px;
  transform: translateY(5px);
  transition: all 1s;
}

.footer {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  background-color: blue;
  border-radius: 90px;
  padding: 15px;
  text-align: left;
  margin: 10px;
  width: 350px;
  transition: all 0.5s;
}

.footer:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: blue;
  background-color: aqua;
  border-radius: 90px;
  padding: 15px;
  width: 350px;
  transform: translateY(5px);
}

#copyright {
  font-size: 13px;
  margin-left: 10px;
  background-color: transparent;
  transition: all 0.5s;
}
#copyright:hover {
  font-size: 13px;
  background-color: transparent;
}

#menu-dibujos .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}

#menu-dibujos {
  background-image: url(../imagenes/backbone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 80px -14px;
  width: auto;
  height: auto;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.contenedor-principal #btn-izquierda,
.contenedor-principal #btn-derecha {
  position: absolute;
  height: 100%;
  width: 200px;
  border: none;
  background: transparent;
  font-size: 40px;
  margin: 0 auto;
  color: white;
  z-index: 500;
  outline: none;
  transition: all 0.3s;
  transform: translateY(10px);
}

.contenedor-principal #btn-izquierda:hover,
.contenedor-principal #btn-derecha:hover {
  background: rgba(0, 0, 0, 0.295);
  transition: all 0.3s;
  transform: translateY(5px);
}

.contenedor-principal #btn-izquierda {
  left: 0;
  float: left;
}

.contenedor-principal #btn-derecha {
  right: 0;
  float: right;
}

.slider {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 80px);
  /*scroll-behavior: comportamiento de desplazamiento, smooth:liso*/
  scroll-behavior: smooth;
}

.container-dibujos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  margin-right: 10px;
}

.descripcion-dibujos h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.descripcion-dibujos h4 {
  text-transform: lowercase;
  font-size: 25px;
  font-weight: 100;
}

.descripcion-dibujos p {
  font-style: italic;
  text-align: justify;
}

.imagen-dibujos {
  width: 100px;
  display: flex;
  justify-content: center;
}

.imagen-dibujos img {
  width: 100%;
  transform: scale(1.1);
  transition: all 0.5s;
}

.container-dibujos:hover .imagen-dibujos img {
  transform: scale(1.15);
}

#correo {
  color: aqua;
  background-color: blue;
  border-radius: 10px;
  font-size: 20px;
  transition: all 1s;
  font-family: system-ui;
  font-weight: 600;
  padding: 5px 20px;
}

#correo:hover {
  color: blue;
  background-color: aqua;
  border-radius: 100px;
  padding: 10px;
  font-size: 20px;
  font-size: bold;
  font-weight: 600;
  transition: all 1s;
  font-family: system-ui;
}

#enlazar {
  position: absolute;
  transform: translate(630px, 200px);
  margin: 0 auto;
  padding: 25px;
  width: 600px;
  height: auto;
  text-align: center;
}

.boton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 4rem;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  font-size: 15px;
  z-index: 10;
  border-radius: 40%;
}

.off-boton {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  color: aqua;
  background-color: transparent;
  border: none;
  transition: all 1s;
}

.off-boton:hover {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  transition: all 1s;
}

.boton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px;
  z-index: 10;
}

#geisha {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}
#vedegambre {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}
#superheroe {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}

.pinturas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

#estilos {
  background-color: blue;
  color: aqua;
  font-size: 17px;
  padding: 40px;
}

/*Footer*/
#fn {
  height: auto;
  width: auto;
  position: center;
  margin: 0px -2%;
  padding: 1% 15%;
  transform: translate(0px, 20px);
  display: block;
  z-index: auto;
  background: linear-gradient(to bottom right, #38fbef, #5baffc);
  font-size: 20px;
  font-weight: bold;
}

/**/
.mouse-follower,
.mouse-follower-sibling {
  position: fixed;
  z-index: 99;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.mouse-follower {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@keyframes slidein {
  from {
    border: 15px solid #0027ff;
  }

  to {
    border: 15px solid #00ffec;
  }
}
