@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital@1&family=Roboto:ital,wght@1,300&display=swap");
/*Por si quiero algun dia cambiar algun texto o parrafo 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  cursor: none;
}

body {
  padding: 15px;
  margin: 0px;
  background: linear-gradient(#333333, #121212);
  background-attachment: fixed;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: none;
}

.mouse-follower,
.mouse-follower-sibling {
  position: fixed;
  z-index: 99;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.mouse-follower {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@keyframes slidein {
  from {
    border: 15px solid #0027ff;
  }

  to {
    border: 15px solid #00ffec;
  }
}

/*Titulo*/

#titulo {
  margin: 0 auto;
  padding-top: 25px;
}

h1 {
  margin: 0px -14px 150px -14px;
  width: auto;
  height: auto;
  padding: 15px 50px;
  color: #0004ff;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to bottom right, #ffdef2, #e6f0ff);
  background-position: center;
  background-size: cover;
  border: 1px solid #00ffdc;
}

/*Siguiente Seccion*/
#misdibujos {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  transform: translateY(100px);
  width: 500px;
  border-radius: 100px;
}

/*Mis Dibujos*/
#edicion {
  width: 300px;
  height: 300px;
  text-align: left;
  margin-right: 300px;
  transform: translateY(-30px);
  transition: all 1s;
  float: left;
}

.descripcion-dibujos {
  width: 30%;
  margin-right: 400px;
  float: right;
}

#descripcion {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 270px;
  transition: all 1s;
}

#descripcion:hover {
  color: blue;
  padding: 10px;
  width: 270px;
  background-color: aqua;
  transform: translateY(5px);
}

#titulo-imagen {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 240px;
  transition: all 1s;
}

#titulo-imagen:hover {
  color: blue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  background-color: aqua;
  padding: 10px;
  border-radius: 90px;
  margin: 10px;
  width: 240px;
  transition: all 1s;
}

.letra {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 90px;
  text-align: left;
  margin: 10px;
  width: 140px;
  transition: all 1s;
}

.letra:hover {
  color: blue;
  background-color: aqua;
  padding: 10px;
  font-size: 20px;
  transform: translateY(5px);
  transition: all 1s;
}

.footer {
  color: aqua;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  background-color: blue;
  border-radius: 90px;
  padding: 15px;
  text-align: left;
  margin: 10px;
  width: 350px;
  transition: all 0.5s;
}

.footer:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: blue;
  background-color: aqua;
  border-radius: 90px;
  padding: 15px;
  width: 350px;
  transform: translateY(5px);
}

#copyright {
  font-size: 13px;
  margin-left: 10px;
  background-color: transparent;
  transition: all 0.5s;
}
#copyright:hover {
  font-size: 13px;
  background-color: transparent;
}

#menu-dibujos .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}

#menu-dibujos {
  background-image: url(../imagenes/backbone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 80px -14px;
  width: auto;
  height: auto;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.contenedor-principal #btn-izquierda,
.contenedor-principal #btn-derecha {
  position: absolute;
  height: 100%;
  width: 200px;
  border: none;
  background: transparent;
  font-size: 40px;
  margin: 0 auto;
  color: white;
  z-index: 500;
  outline: none;
  transition: all 0.3s;
  transform: translateY(10px);
}

.contenedor-principal #btn-izquierda:hover,
.contenedor-principal #btn-derecha:hover {
  background: rgba(0, 0, 0, 0.295);
  transition: all 0.3s;
  transform: translateY(5px);
}

.contenedor-principal #btn-izquierda {
  left: 0;
  float: left;
}

.contenedor-principal #btn-derecha {
  right: 0;
  float: right;
}

.slider {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 80px);
  /*scroll-behavior: comportamiento de desplazamiento, smooth:liso*/
  scroll-behavior: smooth;
}

.container-dibujos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  margin-right: 10px;
}

.descripcion-dibujos h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.descripcion-dibujos h4 {
  text-transform: lowercase;
  font-size: 25px;
  font-weight: 100;
}

.descripcion-dibujos p {
  font-style: italic;
  text-align: justify;
}

.imagen-dibujos {
  width: 100px;
  display: flex;
  justify-content: center;
}

.imagen-dibujos img {
  width: 100%;
  transform: scale(1.1);
  transition: all 0.5s;
}

.container-dibujos:hover .imagen-dibujos img {
  transform: scale(1.15);
}

#correo {
  color: aqua;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  transition: all 1s;
}

#correo:hover {
  color: blue;
  background-color: aqua;
  border-radius: 100px;
  padding: 10px;
  font-size: 20px;
  font-size: bold;
  transition: all 1s;
}

#enlazar {
  position: absolute;
  transform: translate(580px, 200px);
  margin: 0 auto;
  padding: 25px;
  width: 600px;
  height: auto;
  text-align: center;
}

#comentar {
  position: absolute;
  transform: translate(500px, 199px);
  margin: 0 auto;
  padding: 0px;
  width: 180px;
  height: auto;
}

#comentario {
  background-color: blue;
  padding: 10px;
  color: aqua;
  font-size: 15px;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 20px;
  transition: all 1s;
}
#comentario:hover {
  background-color: aqua;
  padding: 10px;
  color: blue;
  font-size: 15px;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 10px;
  transition: all 1s;
}

.boton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 4rem;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  font-size: 15px;
  z-index: 10;
  border-radius: 40%;
}

.off-boton {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  color: aqua;
  background-color: transparent;
  border: none;
  transition: all 1s;
}

.off-boton:hover {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  transition: all 1s;
}

.boton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px;
  z-index: 10;
}

#geisha {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}
#vedegambre {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}
#superheroe {
  width: 200px;
  height: 200px;
  border: 5px groove black;
}

.pinturas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

#estilos {
  background-color: blue;
  color: aqua;
  font-size: 17px;
  padding: 40px;
}

/*Mi contenido*/
#contenido {
  padding: 40px;
  margin-right: 60px;
  margin-left: auto;
  width: 278px;
  height: auto;
  border: 10px groove transparent;
  background-color: rgba(0, 0, 0, 0.747);
  border: 1px solid grey;
  border-radius: 40px;
  transform: translate(10px, -590px);
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.juegos {
  font-size: 20px;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  transition: all 1s;
}

.juegos:hover {
  font-size: 20px;
  background-color: rgb(116, 116, 116);
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  transition: all 1s;
  transform: translateY(5px);
}

a.juegos {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  transition: all 1s;
  text-align: center;
}

a:hover.juegos {
  color: rgb(255, 255, 255);
  border: 1px solid white;
  transition: all 1s;
  text-align: center;
}

/*Experiencia Laboral*/
#experiencia-laboral {
  margin-top: 20px;
  margin-bottom: 250px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 35px;
  width: auto;
  height: 720px;
  background: url(../imagenes/fondo39.jpg);
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h3 {
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  margin: 0 -40px;
  padding: 0px 0px;
  width: auto;
  text-align: center;
  font-size: 35px;
}

a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

#seleccion {
  margin-left: 230px;
  font-size: 50px;
  color: rgb(83, 83, 83);
  transition: all 1s;
  animation-duration: 5s;
}

#seleccion:hover {
  margin-top: 5px;
  margin-left: 230px;
  font-size: 50px;
  color: white;
  transition: all 1s;
  transform: translateY(5px);
}

#cuadro {
  height: 430px;
  width: 400px;
  margin-left: 60px;
  background-image: url(../imagenes/milogo.PNG);
  border-top: 3px groove blue;
  border-left: 3px groove yellow;
  border-bottom: 3px groove red;
  border-right: 3px groove green;
}

#enlace {
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 80px;
  transition: all 2s;
}

#enlace:hover {
  background-color: rgb(143, 143, 143);
  color: black;
  padding: 5px 20px 5px 20px;
  transition: all 2s;
}

#plantilla {
  background-color: black;
  border: 2px solid grey;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 80px;
  transition: all 2s;
  margin-left: 125px;
}

#plantilla:hover {
  background-color: rgb(143, 143, 143);
  color: black;
  padding: 5px 20px 5px 20px;
  transition: all 2s;
}

#mano {
  font-size: 60px;
}

/*Reloj*/

#tiempo {
  border-top: 10px groove red;
  border-left: 10px groove yellow;
  border-right: 10px groove yellow;
  border-bottom: 10px groove purple;
  border-radius: 100%;
  position: absolute;
  transform: translate(725px, 00px);
  background-image: url(../imagenes/diseno-grafico1.jpg);
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 500px;
}

#reloj,
#hora,
#fecha {
  display: block;
  margin-right: 170px;
  margin-top: 200px;
}

.hora,
#ampm {
  color: black;
  text-transform: lowercase;
}

.hora {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -150px;
  transform: translateY(40px);
}

.hora p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  background-color: yellow;
}

.fecha {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 100px;
}
.fecha p {
  transform: translateX(60px);
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  padding: 3px;
  margin: 1px;
  margin-right: 2px;
  background-color: yellow;
}

/*Boton de ir Arriba*/
#direccion {
  width: 50px;
  height: 50px;
  background: blue;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transform: translateY(200%);
  border-radius: 50px;
  transition: all 0.5s;
}

#direccion.show {
  transform: translateY(0);
}

#direccion.scrollFinal {
  transform: translateY(-250%);
}

#direccion span {
  color: aqua;
  font-size: 25px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s;
  border-radius: 50px;
}

#direccion:hover {
  background: aqua;
  border-radius: 50px;
}

#direccion:hover span {
  transform: translateY(-3px);
  color: blue;
  border-radius: 50px;
}

#cpy {
  font-size: 40px;
  padding: 0px 0px;
}

/*Footer*/
#fn {
  height: auto;
  width: auto;
  padding: 10px 10px;
  margin: 0px -15px;
  transform: translate(0px, 500px);
  display: block;
  z-index: auto;
  background: linear-gradient(to bottom right, #38fbef, #5baffc);
  font-size: 20px;
  font-weight: bold;
}
